        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img class="is-rounded" src="assets/images/gox64.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong><%= comment.user.nickname %></strong>
                        <br><%= comment.content %>
                    </p>
                </div>
            </div>
        </article>