<h1>movie index</h1>
<div class="container">
<table class="table">
  <tr class="th">
    <th>映画タイトル</th>
  </tr>
  <% @movies.each do |movie| %>
  <tr>
    <td><%= link_to movie.title, movie_path(movie) %></td>
  </tr>
   <% end %>
</table>
</div>