// .top-page-header {
//   width: 100vw;
//   padding: 2vh 15vw;
//   display: flex;
//   flex-direction: column;
// }

// body{
//   background-color: orange;
// }
#navi ul {
	display: flex;
	margin: 0 auto;
	padding: 0 3%;
	width: 94%;
	max-width: 960px; 
}
#navi ul li {
	flex: 0.1 0 auto;
  display: block;
  padding: 17px 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 200px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ff6347;
}

ul{
  list-style: none;
}

.session-lists {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.ranking-list {
  text-decoration: none;
  //margin-right: 3vw;
  color: #333333;
}

.movie-list {
  text-decoration: none;
  color: #333333;
}

.theater-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.title-contents {
  width: 100vw;
  background-image: image-url('cinema.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9); 
}