  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><%= link_to 'ホーム', home_index_path %></li>
          <li><%= link_to '評価ランキング', reviews_path %></li>
          <li><%= link_to '上映作品一覧', movies_path %></li>
          <li><%= link_to '映画館一覧', theaters_path %></li>
        </ul>
      </div>
    </nav>
  </div>