<section class="hero is-success is-fullheight">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Movie Now!
      </h1>
      <h2 class="subtitle">
        瞬時に最寄りで最高の映画を見つけよう！
      </h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="住所または郵便番号を入力">
        </p>
        <p class="control">
          <a class="button is-info">
            住所から検索
          </a>
        </p>
      </div>
      <div class="control">
        <button class="button is-primary">現在地から検索</button>
      </div>
    </div>
  </div>
</section>