<div class="title">評価ランキング</div>
<div class="container">
<table class="table">
  <tr class="th">
    <th>順位</th>
    <th>映画タイトル</th>
    <th>平均レーティング</th>
  </tr>
  <% @reviews.each_with_index do |review, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%=review.movie.title %></td>
    <td><%=review.avg_rating %> </td>
  </tr>
  <% end %>
</table>
</div>